/* tools */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

body {
  font-family: "Open Sans", sans-serif;
  height: auto;
  min-height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

.summer-blog-menu {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0.9375rem;
  float: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.625rem;
  height: 5rem; }
  .summer-blog-menu .summer-mobile-menu a {
    display: inline-block;
    outline: none;
    color: black;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
    .summer-blog-menu .summer-mobile-menu a:hover {
      color: black; }
  .summer-blog-menu ul {
    background: black;
    position: absolute;
    width: 100%;
    -webkit-transform: translate3d(0, -110%, 0);
    -ms-transform: translate3d(0, -110%, 0);
    -moz-transform: translate3d(0, -110%, 0);
    -o-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    padding-top: 0;
    padding-bottom: 3.125rem; }
    .summer-blog-menu ul li {
      display: block;
      margin: 0;
      width: 100%;
      font-size: 2.25rem;
      text-align: center;
      padding: 0.3125rem; }
      .summer-blog-menu ul li a {
        color: white;
        display: block;
        width: 100%;
        height: 100%;
        outline: none; }
      .summer-blog-menu ul li.summer-mobile-close-btn {
        padding-right: 1.25rem; }
        .summer-blog-menu ul li.summer-mobile-close-btn a {
          color: white; }
    .summer-blog-menu ul.opened {
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  @media only screen and (min-width: 40.063em) {
    .summer-blog-menu {
      padding-top: 1.75rem;
      padding-bottom: 1.5625rem;
      font-size: 1rem; }
      .summer-blog-menu ul {
        background: transparent;
        position: relative;
        width: auto;
        list-style-type: none;
        margin: 0;
        width: auto;
        overflow: auto;
        -webkit-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        visibility: visible;
        padding-top: 0;
        padding-bottom: 0; }
        .summer-blog-menu ul li {
          display: inline-block;
          margin-left: 1.25rem;
          width: auto;
          font-size: 1rem;
          text-align: left;
          padding: 0; }
          .summer-blog-menu ul li a {
            color: black;
            display: inline-block;
            border-bottom: 0.1875rem solid transparent;
            width: auto;
            height: auto; }
            .summer-blog-menu ul li a:hover {
              border-bottom: 0.1875rem solid #e51843; } }

.summer-site-head .summer-site-head-menu {
  background: white; }
  .summer-site-head .summer-site-head-menu .summer-blog-logo {
    display: inline-block;
    max-height: 5rem; }
    .summer-site-head .summer-site-head-menu .summer-blog-logo img {
      max-height: 5rem; }
  .summer-site-head .summer-site-head-menu .title {
    display: inline-block;
    padding: 0;
    padding-left: 1.25rem;
    height: 5rem;
    line-height: 5rem;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
    font-size: 1.625rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    letter-spacing: -0.0625rem; }
    .summer-site-head .summer-site-head-menu .title a {
      color: black; }
      .summer-site-head .summer-site-head-menu .title a:hover {
        color: black; }
.summer-site-head .summer-site-head-content {
  width: 100%;
  text-align: center;
  background-color: black;
  background-size: cover; }
  .summer-site-head .summer-site-head-content .summer-site-head-title-bg {
    display: inline-block;
    padding: 0.625rem;
    background: #e51843;
    line-height: 1.1; }
  .summer-site-head .summer-site-head-content h1, .summer-site-head .summer-site-head-content h2 {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase; }
  .summer-site-head .summer-site-head-content h1 {
    padding-top: 4.375rem;
    font-size: 0.875rem;
    margin-bottom: 0.9375rem; }
  .summer-site-head .summer-site-head-content h2 {
    font-size: 2.5rem;
    padding-bottom: 5rem;
    font-weight: 700;
    line-height: 1.3; }
  @media only screen and (min-width: 40.063em) {
    .summer-site-head .summer-site-head-content h1 {
      padding-top: 7.5rem;
      font-size: 1rem; }
    .summer-site-head .summer-site-head-content h2 {
      font-size: 3.75rem;
      padding-bottom: 7.5rem;
      font-weight: 700; } }
  @media only screen and (min-width: 70em) {
    .summer-site-head .summer-site-head-content h1 {
      padding-top: 9.375rem;
      font-size: 1rem; }
    .summer-site-head .summer-site-head-content h2 {
      font-size: 4.375rem;
      padding-bottom: 9.375rem;
      font-weight: 700; } }
  @media only screen and (min-width: 90em) {
    .summer-site-head .summer-site-head-content h1 {
      padding-top: 10.3125rem; }
    .summer-site-head .summer-site-head-content h2 {
      font-size: 5rem;
      padding-bottom: 10.3125rem; } }
  @media only screen and (min-width: 100em) {
    .summer-site-head .summer-site-head-content h1 {
      padding-top: 12.5rem; }
    .summer-site-head .summer-site-head-content h2 {
      font-size: 6.25rem;
      padding-bottom: 12.5rem; } }

.summer-content .summer-index-post {
  visibility: hidden;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 0.0625rem solid #d9d9d9; }
  .summer-content .summer-index-post:first-of-type {
    padding-top: 5rem; }
  .summer-content .summer-index-post .datetime {
    margin-bottom: 2.5rem; }
  @media only screen and (min-width: 40.063em) {
    .summer-content .summer-index-post {
      padding-top: 4.375rem;
      padding-bottom: 4.375rem; }
      .summer-content .summer-index-post:first-of-type {
        padding-top: 7.5rem; }
      .summer-content .summer-index-post .datetime {
        margin-bottom: 0; } }
  .summer-content .summer-index-post .summer-post-meta {
    display: block;
    text-align: center; }
    .summer-content .summer-index-post .summer-post-meta .day {
      display: block;
      font-size: 3.25rem;
      font-weight: 800;
      color: #e51843;
      font-family: "Montserrat", sans-serif; }
    .summer-content .summer-index-post .summer-post-meta .month-year {
      display: block;
      font-size: 1rem;
      color: black;
      font-size: 0.875rem;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; }
  .summer-content .summer-index-post .summer-post-header .summer-post-title {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.625rem;
    margin: 0;
    padding: 0;
    line-height: 1.1; }
    .summer-content .summer-index-post .summer-post-header .summer-post-title a {
      color: black; }
  @media only screen and (min-width: 40.063em) {
    .summer-content .summer-index-post .summer-post-header .summer-post-title {
      text-align: left;
      font-size: 2.125rem;
      margin-bottom: 0.9375rem; } }
  .summer-content .summer-index-post .summer-post-excerpt {
    color: black;
    font-size: 1.25rem;
    margin-top: 0.625rem;
    text-align: center; }
    .summer-content .summer-index-post .summer-post-excerpt p {
      margin: 0;
      font-size: 1.25rem; }
  @media only screen and (min-width: 40.063em) {
    .summer-content .summer-index-post .summer-post-excerpt {
      text-align: left; } }
  .summer-content .summer-index-post .summer-index-post-tags {
    font-size: 0.8125rem;
    color: black;
    margin-top: 1.5625rem;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
    .summer-content .summer-index-post .summer-index-post-tags a {
      display: inline-block;
      padding: 0.3125rem 0.625rem;
      color: black;
      border: 0.0625rem solid black;
      border-radius: 0.125rem; }
      .summer-content .summer-index-post .summer-index-post-tags a:hover {
        color: #e51843;
        border: 0.0625rem solid #e51843; }
  @media only screen and (min-width: 40.063em) {
    .summer-content .summer-index-post .summer-index-post-tags {
      text-align: left; } }

nav.pagination {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  text-align: center; }
  nav.pagination .newer-posts,
  nav.pagination .older-posts,
  nav.pagination .page-number {
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.625rem 1.25rem;
    border-radius: 0.1875rem;
    color: black;
    border: 0.125rem solid black; }
  nav.pagination .newer-posts:hover,
  nav.pagination .older-posts:hover {
    border: 0.125rem solid #e51843;
    color: #e51843; }
  nav.pagination .newer-posts.faded,
  nav.pagination .older-posts.faded {
    color: gray;
    border: 0.125rem solid gray; }
    nav.pagination .newer-posts.faded a,
    nav.pagination .older-posts.faded a {
      color: gray; }
  nav.pagination .newer-posts .fa {
    margin-right: 0.625rem; }
  nav.pagination .older-posts .fa {
    margin-left: 0.625rem; }

.summer-site-footer {
  background: black; }
  .summer-site-footer .social-icons,
  .summer-site-footer .copyright {
    width: 100%;
    padding: 0;
    text-align: center; }
  .summer-site-footer .copyright {
    color: white;
    float: none;
    text-align: center;
    font-size: 0.8125rem;
    padding-top: 3.75rem;
    padding-bottom: 1.25rem; }
    .summer-site-footer .copyright a {
      color: white; }
  .summer-site-footer .social-icons {
    text-align: center;
    float: none;
    padding-bottom: 3.75rem; }
    .summer-site-footer .social-icons a {
      color: black; }
  @media only screen and (min-width: 70em) {
    .summer-site-footer .social-icons,
    .summer-site-footer .copyright {
      width: 49%;
      padding: 5rem; }
    .summer-site-footer .copyright {
      text-align: left;
      float: left; }
    .summer-site-footer .social-icons {
      text-align: right;
      float: right; } }

.fadeInDown {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.tag-template .summer-index-post:first-of-type {
  padding-top: 3.125rem; }
  @media only screen and (min-width: 40.063em) {
    .tag-template .summer-index-post:first-of-type {
      padding-top: 4.6875rem; } }

.summer-tags-container {
  background: #f2f2f2; }
  .summer-tags-container .summer-tags-header {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    color: black;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    text-align: center; }
    .summer-tags-container .summer-tags-header .tag-name {
      color: #e51843;
      text-transform: none; }
    @media only screen and (min-width: 40.063em) {
      .summer-tags-container .summer-tags-header {
        font-size: 1.5625rem; } }
figure {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    *zoom: 1;
}

figure:before,figure:after {
    display: table;
    line-height: 0;
    content: "";
}

figure:after {
    clear: both;
}

figure img {
    display: block;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

figure a img {
    filter: gray; /* IE6-9 */
    -webkit-filter: brightness(100%); /* Google Chrome & Safari 6+ */
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

figure a img:hover {
    filter: none;
    -webkit-filter: brightness(130%);
    -webkit-transform: translate(0,-5px);
    -moz-transform: translate(0,-5px);
    -ms-transform: translate(0,-5px);
    -o-transform: translate(0,-5px);
    transform: translate(0,-5px);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media only screen and (min-width:62.5em) {
    figure.half img {
        float: left;
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }

    figure.half figcaption {
        clear: left;
    }
}

@media only screen and (min-width:62.5em) {
    figure.third img {
        float: left;
        width: 32.3%;
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

    figure.third figcaption {
        clear: left;
    }
}

svg:not(:root) {
    overflow: hidden;
}
figcaption {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    font-style:italic;
}
.mfp-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 502;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0b0b0b;
    opacity: .8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 503;
    width: 100%;
    height: 100%;
    outline: none!important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    z-index: 505;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    vertical-align: middle;
}

.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-inline-holder .mfp-content:after,.mfp-ajax-holder .mfp-content:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: auto;
    height: auto;
    content: '';
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom,.image-popup {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none!important;
}

.mfp-preloader {
    position: absolute;
    top: 50%;
    right: 8px;
    left: 8px;
    z-index: 504;
    width: auto;
    margin-top: -0.8em;
    color: #ccc;
    text-align: center;
}

.mfp-preloader a {
    color: #ccc;
}

.mfp-preloader a:hover {
    color: white;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,button.mfp-arrow {
    z-index: 506;
    display: block;
    padding: 0;
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
}

button.mfp-close {
    background: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    padding: 0 0 18px 10px;
    font-family: Arial,Baskerville,monospace;
    font-size: 28px;
    font-style: normal;
    line-height: 44px;
    color: white;
    text-align: center;
    text-decoration: none;
    opacity: .65;
}

.mfp-close:hover,.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close {
    right: -6px;
    width: 100%;
    padding-right: 6px;
    color: white;
    text-align: right;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 18px;
    color: #ccc;
}

.mfp-arrow {
    position: absolute;
    top: 0;
    top: 50%;
    width: 90px;
    height: 110px;
    padding: 0;
    margin: 0;
    margin-top: -55px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background-color: #111;
    opacity: .65;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,.mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: solid transparent;
    content: '';
}

.mfp-arrow:after,.mfp-arrow .mfp-a {
    top: 8px;
    border-top-width: 12px;
    border-bottom-width: 12px;
    opacity: .8;
}

.mfp-arrow:before,.mfp-arrow .mfp-b {
    border-top-width: 20px;
    border-bottom-width: 20px;
}

.mfp-arrow-left {
    left: 0;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.mfp-arrow-left:after,.mfp-arrow-left .mfp-a {
    left: 5px;
    border-right: 12px solid #fff;
}

.mfp-arrow-left:before,.mfp-arrow-left .mfp-b {
    border-right: 20px solid #fff;
}

.mfp-arrow-right {
    right: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.mfp-arrow-right:after,.mfp-arrow-right .mfp-a {
    left: 3px;
    border-left: 12px solid #fff;
}

.mfp-arrow-right:before,.mfp-arrow-right .mfp-b {
    border-left: 20px solid #fff;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    width: 100%;
    max-width: 900px;
    line-height: 0;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

img.mfp-img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 40px 0 40px;
    margin: 0 auto;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-figure:after {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;
    z-index: -1;
    display: block;
    width: auto;
    height: auto;
    content: '';
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.mfp-figure {
    line-height: 0;
}

.mfp-bottom-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: -36px;
    cursor: auto;
}

.mfp-title {
    line-height: 18px;
    color: #f3f3f3;
    text-align: left;
}

.mfp-figure small {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px) {
{
}

.mfp-img-mobile .mfp-image-holder {
    padding-right: 0;
    padding-left: 0;
}

.mfp-img-mobile img.mfp-img {
    padding: 0;
}

.mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
}

.mfp-img-mobile .mfp-bottom-bar {
    position: fixed;
    top: auto;
    bottom: 0;
    padding: 3px 5px;
    margin: 0;
    background: rgba(0,0,0,0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
}

.mfp-img-mobile .mfp-counter {
    top: 3px;
    right: 5px;
}

.mfp-img-mobile .mfp-close {
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    padding: 0;
    line-height: 35px;
    text-align: center;
    background: rgba(0,0,0,0.6);
}

.mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
}}

@media all and (max-width:800px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-right: 6px;
        padding-left: 6px;
    }
}

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    left: 50%;
    width: 600px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: -300px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}

.mfp-fade .zoom-anim-dialog {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.mfp-fade.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.mfp-fade.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.mfp-fade.mfp-ready.mfp-bg {
    opacity: .8;
}

.mfp-fade.mfp-removing.mfp-bg {
    opacity: 0;
}
::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.2);
}